{% extends "index.html" %}
{% block content %}
  <div id="main">
  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Instant airtime <br>
                      conversions | Now</h2>
                    <p>Airtime to Money/Voucher conversion at the best rates</p>
                  </div>
                  <div class="col-lg-12">
                    <div class="white-button first-button scroll-to-section">
                      <!-- <a href="#contact">Free Quote <i class="fab fa-apple"></i></a> -->
                    </div>
                    <div class="white-button scroll-to-section">
                      <!-- <a href="#contact">Free Quote <i class="fab fa-google-play"></i></a>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="static/assets/images/mobile_phone.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- -->

    <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-11 offset-lg-1">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>Mobile<em> Networks </em>Available </h4>
            <img src="static/assets/images/heading-line-dec.png" alt="">
            <p style="color: black !important;">At Yebo-Voucher, we understand the frustration of having unused airtime
              sitting idle on your mobile device.
              That's whywe've created a user-friendly platform that allows you toeffortlessly convert your airtime into
              cash.
              Our innovative technology ensures a secure and reliable transaction process,
              giving you peace of mind while accessing the value of yourprepaid credit.
              Our team of experts is committed to providing exceptional customer service,
              answering any questions youmay have and guiding you through the conversion process.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item first-service">

            <h4>Vodacom</h4>
            <img src="static/assets/images/vodacom.png" alt="">
            <!--<p>You are not allowed to redistribute this template ZIP file on any other website.</p>-->

          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item second-service">

            <h4>MTN</h4>
            <img src="static/assets/images/mtn.png" alt="">

          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">

            <h4>Cell C</h4>
            <img src="static/assets/images/celnew.png" alt="">

          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item fourth-service">

            <h4>Telkom</h4>
            <img src="static/assets/images/telkom.png" alt="">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h4>About <em>What We Do</em> &amp; Who We Are</h4>
            <img src="static/assets/images/heading-line-dec.png" alt="">
            <p style="color: black !important;">Welcome to Yebo-Voucher! We are the premier online platform dedicated to
              transforming your unused
              airtime into real cash and other forms of vouchers.
              With a simple and convenient process, we provide a seamless solution for converting your mobile airtime
              into
              tangible value. </p>

            <p style="color: black !important;">Ourmission is to empower individuals to unlock the full potential of
              their prepaid mobile credit and turn
              it into useful currency for everyday expenses or savings.
              Whether you have excess airtime or need quick access to funds,Yebo-Voucher is here to assist you.</p>

            <p style="color: black !important;">Join our growing community of satisfied users today and experience the
              convenience and financial
              flexibility that Yebo-Voucher offers.
              Your unused airtime is waiting to be transformed into real cash at YeboVoucher!</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
          </div>
        </div>
      </div>
    </div>
  </div>



  </div>
</div>



{% endblock %}