{% extends "portal/template.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col mt-4">
            <div class="jumbotron">
                <h1 class="display-4">Request Sent successfully!</h1>
                <p class="lead">Instructions on sending the credit</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.
                </p>
                <a class="btn btn-primary btn-lg" href="{{ url_for('dash.dash_tracking') }}" role="button">Go back
                    home</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}